name: Website CI

on:
  pull_request:
    branches: [dev, main]
    paths:
      - "website/**"
      - ".github/workflows/ci-website.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install
        working-directory: website
        run: npm ci

      - name: Build
        working-directory: website
        run: npm run build
